commands:
  100-get-code:
    command: "cd /opt && git clone https://github.com/codeforanchorage/collective-development.git"
  200-make-ve:
    command: "cd /opt/collective-development && virtualenv venv"
  300-turn-on-ve
    command: "cd /opt/collective-development && source venv/bin/active && pip install -r requirements.txt && python manage.py fake_data && python wsgi.py"
