commands:
  100-get-code:
    command: "git clone https://github.com/codeforanchorage/collective-development.git"
    cwd: /opt
  200-make-ve:
    command: "virtualenv venv"
    cwd: /opt/collective-development
  300-turn-on-ve:
    command: "source venv/bin/active && pip install -r requirements.txt && python manage.py fake_data && python wsgi.py"
    cwd: /opt/collective-development
  400-pip-install:
    command: "pip install -r requirements.txt"
    cwd: /opt/collective-development
